---
import ChangeName from "../../components/dashboard/configPage/ChangeName.astro";
import RenewPayment from "../../components/dashboard/configPage/RenewPayment.astro";
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import { Menu } from "../../server/class/Menu";

const menus = await Menu.getMenusByUserId(Astro.locals.user.id || "").catch(
    (err) => {
        console.error(err);
        return null;
    },
);
---

<DashboardLayout>
    {
        () => {
            if (menus === null || menus.length === 0) {
                return <p class="text-xl">No tienes Menus</p>;
            } else {
                return (
                    <div class="flex flex-col items-center space-y-2">
                        <h1 class="font-bold text-2xl">Configuración</h1>
                        <p class="text-xl">Empecemos!</p>
                        <ChangeName menus={menus} />
                        <RenewPayment menus={menus} />
                    </div>
                );
            }
        }
    }
</DashboardLayout>
<script>
    console.log("");
</script>
