---
import PayementForm from "../../components/dashboard/PayementForm.astro";
import UserMenus from "../../components/dashboard/UserMenus.astro";
import Container from "../../components/default/Container.astro";
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import { Menu } from "../../server/class/Menu";

const menus = await Menu.getMenusByUserId(Astro.locals.user.id || "").catch(
    (err) => {
        console.error(err);
        return null;
    },
);
---

<DashboardLayout>
    <h1 class="text-3xl font-bold p-1">Inicio</h1>
    <Container className="flex flex-col items-center space-y-2" addToClass>
        <h1 class="font-bold text-2xl">Bienvenido a SnapMenu</h1>
        <p class="text-xl">Empecemos!</p>
        <PayementForm />
        {
            () => {
                if (menus !== null && menus.length > 0) {
                    return <UserMenus menu={menus} />;
                }
            }
        }
    </Container>
</DashboardLayout>
