---
import About from "../components/Home/About.astro";
import Home from "../components/Home/Home.astro";
import Service from "../components/Home/Service.astro";
import Contact from "../components/Home/Contact.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

const NAVBAR = [
	{
		name: "Inicio",
		link: "#home",
	},
	{
		name: "Nosotros",
		link: "#about",
	},
	{
		name: "Servicios",
		link: "#services",
	},
	{
		name: "Contacto",
		link: "#contact",
	},
];
export const prerender = true;
---

<Layout title="SnapMenu">
	<header
		id="header-main"
		class="flex px-8 py-2 max-md:h-14 max-md:flex-col overflow-hidden transition-all duration-300 ease-in fixed bg-slate-50 w-screen z-10 md:flex md:justify-between md:h-16 md:items-center"
	>
		<div class="flex justify-between">
			<div class="flex">
				<h1
					class="text-xl font-bold pacifico-regular flex items-center gap-2"
				>
					<span
						><Image
							src="/favicon.svg"
							alt="icono de SnapMenu"
							width={30}
							height={30}
						/></span
					> SnapMenu
				</h1>
			</div>
			<button
				id="btn-dropdown"
				class="text-3xl text-orange-500 md:hidden"
			>
				<i class="bi bi-list"></i>
			</button>
		</div>
		<nav
			class="flex max-md:flex-col max-md:mt-5 text-center gap-2 items-center"
		>
			{
				NAVBAR.map((item) => (
					<a
						href={item.link}
						class="hover:bg-orange-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
					>
						{item.name}
					</a>
				))
			}
			<a
				href="/signin"
				class="bg-orange-500 text-white px-2 py-1 rounded-md text-sm font-medium hover:bg-white hover:text-orange-500 hover:border-orange-500 border-2"
				>iniciar Sesión</a
			>
			<a
				href="/register"
				class="bg-orange-500 text-white px-2 py-1 rounded-md text-sm font-medium hover:bg-white hover:text-orange-500 hover:border-orange-500 border-2"
				>Empezar!</a
			>
		</nav>
	</header>
	<main class="w-full bg-slate-100">
		<Home />
		<About />
		<Service />
		<Contact />
	</main>
	<footer class="bg-slate-50 py-4">
		<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
			<div class="flex justify-between items-center">
				<p class="text-sm text-gray-500">
					© 2024 SnapMenu. All rights reserved.
				</p>
				<div class="flex space-x-4">
					<a href="#" class="text-gray-500 hover:text-gray-700"
						>Privacy Policy</a
					>
					<a href="#" class="text-gray-500 hover:text-gray-700"
						>Terms of Service</a
					>
				</div>
			</div>
		</div>
	</footer>
</Layout>
<script>
	const btnDropdown = document.getElementById(
		"btn-dropdown",
	) as HTMLButtonElement;
	const headerMain = document.getElementById("header-main") as HTMLElement;
	btnDropdown.addEventListener("click", () => {
		if (headerMain.classList.contains("h-screen")) {
			headerMain.classList.remove("h-screen");
			headerMain.classList.add("max-md:h-14");
			return;
		} else if (headerMain.classList.contains("max-md:h-14")) {
			headerMain.classList.remove("max-md:h-14");
			headerMain.classList.add("h-screen");
			return;
		}
	});
</script>
