---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Política de Privacidad">
    <div class="w-screen bg-slate-100 p-6 space-y-2">
        <h1 class="text-4xl font-bold text-orange-600 mb-4">
            Política de Privacidad de SnapMenu
        </h1>
        <p class="mb-6">Última actualización: 25 de Julio del 2024</p>
        <p class="mb-6">
            SnapMenu (en adelante, "nosotros", "nos" o "nuestro") se compromete
            a proteger su privacidad. Esta Política de Privacidad describe cómo
            recopilamos, usamos y compartimos su información personal cuando
            utiliza nuestros servicios.
        </p>
        <div class="bg-slate-50 rounded border p-2 shadow-md">
            <h2 class="text-2xl font-semibold text-orange-500 mt-8 mb-4">
                1. Información que Recopilamos
            </h2>

            <h3 class="text-xl font-semibold text-orange-400 mt-4 mb-2">
                a. Datos de Registro:
            </h3>
            <p class="mb-4">
                - Utilizamos Firebase Authentication para el registro de
                usuarios. Esto incluye el uso de cookies de sesión que expiran
                en 5 días, gestionadas por Firebase Authentication.
                <br />
                - Al registrarse, se guarda su ID, correo electrónico y nombre de
                usuario en nuestra base de datos MongoDB Atlas.
            </p>

            <h3 class="text-xl font-semibold text-orange-400 mt-4 mb-2">
                b. Información de Pago:
            </h3>
            <p class="mb-4">
                - Los pagos son procesados a través de Mercado Pago. Guardamos
                únicamente los registros de transacciones generados por Mercado
                Pago para fines de consulta o, en su caso, reembolso.
                <br />
                - No almacenamos información sensible, como números de tarjetas de
                crédito o débito. Todos los datos sensibles de pago son manejados
                directamente por Mercado Pago, garantizando su seguridad y protección.
            </p>

            <h3 class="text-xl font-semibold text-orange-400 mt-4 mb-2">
                c. Datos de Uso:
            </h3>
            <p class="mb-4">
                - Utilizamos Google Analytics para recopilar datos sobre cómo se
                usa nuestra página principal y qué páginas son más visitadas.
                Google Analytics no lo usamos para recopilar información en el
                panel de control del cliente.
            </p>
        </div>
        <div class="bg-slate-50 rounded border p-2 shadow-md">
            <h2 class="text-2xl font-semibold text-orange-500 mt-8 mb-4">
                2. Uso de la Información
            </h2>
            <p class="mb-4">
                **a. Propósitos del Uso de Datos:**
                <br />
                - Los datos recopilados son utilizados exclusivamente para el correcto
                funcionamiento del sistema, asegurando que los menús creados solo
                puedan ser utilizados por sus creadores.
            </p>
            <p class="mb-4">
                **b. Mejoramiento del Servicio:**
                <br />
                - La información de uso recopilada por Google Analytics nos ayuda
                a entender mejor cómo se utiliza nuestra página y a mejorar nuestros
                servicios.
            </p>
        </div>
        <div class="bg-slate-50 rounded border p-2 shadow-md">
            <h2 class="text-2xl font-semibold text-orange-500 mt-8 mb-4">
                3. Seguridad de la Información
            </h2>
            <p class="mb-4">
                Implementamos medidas de seguridad para proteger su información
                personal contra accesos no autorizados, uso o divulgación. Sin
                embargo, ningún método de transmisión por Internet o método de
                almacenamiento electrónico es 100% seguro.
            </p>
        </div>
        <div class="bg-slate-50 rounded border p-2 shadow-md">
            <h2 class="text-2xl font-semibold text-orange-500 mt-8 mb-4">
                4. Derechos del Usuario
            </h2>
            <p class="mb-4">
                **a. Acceso y Control:**
                <br />
                - Puede acceder, rectificar o eliminar sus datos personales contactándonos
                en <a
                    href="mailto:farfetchdev@hotmail.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="hover:underline text-orange-500"
                >
                    farfetchdev@hotmail.com
                </a>.
            </p>
        </div>
        <div class="bg-slate-50 rounded border p-2 shadow-md">
            <h2 class="text-2xl font-semibold text-orange-500 mt-8 mb-4">
                5. Retención de Datos
            </h2>
            <p class="mb-4">
                Retenemos su información personal solo durante el tiempo
                necesario para cumplir con los propósitos descritos en esta
                Política de Privacidad, a menos que se requiera un período de
                retención más largo o permitido por la ley.
            </p>
        </div>
        <div class="bg-slate-50 rounded border p-2 shadow-md">
            <h2 class="text-2xl font-semibold text-orange-500 mt-8 mb-4">
                6. Uso de Cookies y Tecnologías Similares
            </h2>
            <p class="mb-4">
                Utilizamos cookies de sesión para el registro de usuarios,
                gestionadas por Firebase Authentication. Estas cookies expiran
                en 5 días.
            </p>
        </div>
        <div class="bg-slate-50 rounded border p-2 shadow-md">
            <h2 class="text-2xl font-semibold text-orange-500 mt-8 mb-4">
                7. Contacto
            </h2>
            <p class="mb-4">
                Si tiene alguna pregunta o inquietud sobre nuestra Política de
                Privacidad, puede contactarnos en <a
                    href="mailto:farfetchdev@hotmail.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="hover:underline text-orange-500"
                >
                    farfetchdev@hotmail.com
                </a>.
            </p>
        </div>

        <p class="mt-8">
            **SnapMenu** se reserva el derecho de actualizar esta Política de
            Privacidad en cualquier momento. Las modificaciones serán efectivas
            inmediatamente después de la publicación en esta página.
        </p>
    </div>
</Layout>
