---
import QRCodeScan from "../assets/icons/QRCodeScan.astro";
import SearchHeart from "../assets/icons/SearchHeart.astro";
import PostcardHeartFill from "../assets/icons/PostcardHeartFill.astro";
import Share from "../assets/icons/Share.astro";
import PencilFill from "../assets/icons/PencilFill.astro";
import Piggy from "../assets/icons/Piggy.astro";
import Container from "../default/Container.astro";

interface Props {
    icon: string;
    title: string;
    description: string;
}

const { icon, title, description }: Props = Astro.props;
---

<Container
    className="p-4 gap-1 items-center grid grid-cols-5 hover:shadow-xl hover:-translate-y-1 transition duration-300 linear select-none fade-in"
    addToClass
>
    <div
        class="max-sm:w-12 max-sm:h-12 w-14 h-14 flex items-center justify-center aspect-square bg-orange-500 xl:text-3xl rounded text-white col-span-1"
    >
        {
            () => {
                if (icon === "bi-qr-code-scan") {
                    return <QRCodeScan className="h-8" />;
                } else if (icon === "bi-search-heart") {
                    return <SearchHeart className="h-8" />;
                } else if (icon === "bi-postcard-heart-fill") {
                    return <PostcardHeartFill className="h-8" />;
                } else if (icon === "bi-share-fill") {
                    return <Share className="h-8" />;
                } else if (icon === "bi-pencil-fill") {
                    return <PencilFill className="h-8" />;
                } else if (icon === "bi-piggy-bank-fill") {
                    return <Piggy className="h-8" />;
                }
            }
        }
    </div>
    <div class="w-auto col-span-4">
        <h3 class="xl:text-lg font-bold">{title}</h3>
        <p class="text-gray-700 text-sm max-sm:text-xs">
            {description}
        </p>
    </div>
</Container>
