---
import SvgLogo from "../assets/SvgQr.astro";
---

<section
    id="home"
    class="flex items-center justify-center h-screen bg-[url(https://cdn.pixabay.com/photo/2017/10/22/21/02/food-2879265_1280.jpg)] bg-cover"
>
    <div
        class="flex flex-col text-center bg-slate-50 p-2 rounded xl:h-3/5 xl:w-1/4 justify-center items-center space-y-10 border-8 border-orange-200 border-double"
    >
        <h2 class="text-5xl font-bold mb-4 pacifico-regular">SnapMenu</h2>
        <span class="flex w-1/2">
            <SvgLogo />
        </span>
        <p class="text-lg">Create your own SnapMenu</p>
        <a
            href="#"
            class="bg-orange-500 text-white px-4 py-2 rounded-md mt-4 inline-block hover:text-orange-500 hover:border-orange-500 border-2 hover:bg-white"
            >Demo</a
        >
    </div>
</section>
