---
import { Picture } from "astro:assets";

const CONTENT = {
    title: "SnapMenu",
    description: "Crea tu SnapMenu y Compártelo con tus clientes.",
    button: "Demo",
};
---

<section
    id="home"
    class="flex items-center justify-center h-screen bg-[url(https://cdn.snapmenu.online/bgmain.webp)] bg-cover"
>
    <div
        class="flex flex-col text-center bg-slate-50 p-2 rounded xl:h-3/5 xl:w-1/4 justify-center items-center space-y-10 border-8 border-orange-200 border-double"
    >
        <h1 class="text-5xl font-bold mb-4 pacifico-regular">
            {CONTENT.title}
        </h1>
        <span class="flex w-1/2">
            <img
                src="https://cdn.snapmenu.online/qr-code.webp"
                alt="qr-code"
                class="rounded-md border border-slate-400"
            />
        </span>
        <h2 class="text-lg">
            <strong class="font-semibold">{CONTENT.description}</strong>
        </h2>
        <a
            href="/Demo"
            class="bg-orange-500 text-white px-4 py-2 rounded-md mt-4 inline-block hover:text-orange-500 hover:border-orange-500 border-2 hover:bg-white"
            >{CONTENT.button}</a
        >
    </div>
</section>
