---
import Button from "../Home/Button.astro";
---

<div class="flex flex-col items-center">
    <h1 class="font-bold text-2xl">Bienvenido a SnapMenu</h1>
    <p class="text-xl">Empecemos por crear un Menú</p>
    <div
        class="flex roundedflex flex-col justify-between bg-white rounded-lg shadow-lg p-6 fade-in-right"
    >
        <h1 class="font-bold text-lg">Elijamos un nombre para tu menú</h1>
        <p>Este también será el nombre de tu página de menú</p>
        <form action="api/menu/create" method="POST" id="form-menu">
            <input
                id="menuName"
                type="text"
                name="menuName"
                placeholder="Nombre del Menú: Solo letras y números sin espacios y caracteres especiales"
                autocomplete="off"
                required
                class="rounded-lg p-2 border border-gray-300 w-full mt-2 mb-1"
            />
            <p id="name-error" class="text-red-500 text-xs hidden w-full">
                Nombre del Menú: Error
            </p>
            <input
                id="description"
                type="text"
                name="description"
                placeholder="Descripcion del Menú"
                autocomplete="off"
                required
                class="rounded-lg p-2 border border-gray-300 w-full mt-2 mb-2"
                maxlength="60"
            />
            <Button type="submit" className=""> Crear Menú </Button>
        </form>
    </div>
</div>
<script is:inline>
    const form = document.getElementById("form-menu");
    const nameError = document.getElementById("name-error");
    const menuName = document.getElementById("menuName");

    menuName.addEventListener("input", (e) => {
        e.target.value = e.target.value.replace(/[^a-zA-Z0-9_]/g, "");
    });

    form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        const menuName = formData.get("menuName");
        const description = formData.get("description");
        const regex = /^[a-zA-Z0-9_]+$/;
        if (!regex.test(menuName)) {
            nameError.classList.remove("hidden");
            nameError.textContent =
                "Nombre del Menu: Solo se permite letras y números sin caracteres especiales ni espacios";
            return;
        }
        const response = await fetch("/api/menu/create", {
            method: "POST",
            body: JSON.stringify({ name: menuName, description }),
            headers: {
                "Content-Type": "application/json",
            },
        });
        const data = await response.json();
        if (data.error) {
            nameError.classList.remove("hidden");
            nameError.textContent = data.error;
        }
        if (data.name) {
            alert(`Menu ${data.name} fue creado con éxito`);
            window.location.reload();
        }
    });
</script>
