---
import RichResultMain from "../components/seo/RichResultMain.astro";
import SEO from "../components/seo/SEO.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<!-- Google tag (gtag.js) -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-JET5QPLHHB"
			is:inline></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-JET5QPLHHB");
		</script>
		<script
			is:inline
			src="https://www.google.com/recaptcha/api.js"
			type="text/javascript"></script>
		<meta
			name="google-site-verification"
			content="ogo30vUH2dxlKXdMdH9NpbVHiaMmIz5K90SdaUQO3aY"
		/>
		<meta
			name="keywords"
			content="SnapMenu, menú online, menú digital, código QR para restaurantes, crear menú digital, menú QR, servicio para restaurantes, menú interactivo, menú digital para restaurantes, código QR menú, gestión de menús, digitalizar menú, menú digitalizado, restaurante menú online, menú electrónico, QR menú digital, aplicación para restaurantes, menú en línea, menú restaurante código QR, menú web para restaurantes"
		/>
		<meta name="author" content="SnapMenu" />
		<SEO
			description="Crea tu SnapMenu y Compártelo con tus clientes."
			title="SnapMenu"
			image="https://cdn.snapmenu.online/og.webp"
			favicon="/favicon.svg"
		/>
		<RichResultMain />
	</head>
	<body>
		<slot />
		<style is:global type="text/css">
			@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

			:root {
				box-sizing: border-box;
			}
			*,
			html {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			body {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}

			.pacifico-regular {
				font-family: "Pacifico", cursive;
				font-weight: 400;
				font-style: normal;
			}

			.fade-in-left {
				animation-name: fade-in-left;
				animation-timeline: view(block 70% 0%);
				animation-duration: 0.6s;
				animation-timing-function: ease-in-out;
			}

			@keyframes fade-in-left {
				0% {
					opacity: 0;
					transform: translateX(50px);
				}
				100% {
					opacity: 1;
					transform: translateX(0);
				}
			}

			.fade-in-right {
				animation-name: fade-in-right;
				animation-timeline: view(block 70% 0%);
				animation-duration: 0.6s;
				animation-timing-function: ease-in-out;
			}

			@keyframes fade-in-right {
				0% {
					opacity: 0;
					transform: translateX(-50px);
				}
				100% {
					opacity: 1;
					transform: translateX(0);
				}
			}

			.fade-in-down {
				animation-name: fade-in-down;
				animation-timeline: view(70% 0%);
				animation-duration: 0.6s;
				animation-timing-function: ease-in-out;
			}

			@keyframes fade-in-down {
				0% {
					opacity: 0;
					transform: translateY(-50px);
				}
				100% {
					opacity: 1;
					transform: translateY(0);
				}
			}

			.fade-in {
				animation-name: fade-in;
				animation-timeline: view(70% 0%);
				animation-duration: 0.6s;
				animation-timing-function: ease-in-out;
			}

			@keyframes fade-in {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
		</style>
	</body>
</html>
