---
const { title } = Astro.props;
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="Astro description" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
            type="text/css"
        />
        <title>{title}</title>
    </head>
    <body class="h-screen w-screen bg-black overflow-hidden">
        <div
            class="h-screen bg-slate-200 max-md:w-full md:w-3/5 mx-auto overflow-y-auto drop-shadow-2xl"
        >
            <slot />
        </div>
        <div
            class="w-screen h-screen absolute top-0 -z-10 bg-[url('https://th.bing.com/th/id/R.c697adb39de642e86dc2a0e8a4a24982?rik=xLE6dqFrzXwocg&pid=ImgRaw&r=0')] bg-cover bg-no-repeat bg-center filter blur-lg"
        >
        </div>
    </body>
</html>
<style is:global>
    *::-webkit-scrollbar {
        height: 4px;
        width: 4px;
        background: rgba(75, 75, 75, 0);
    }

    /* Track */
    *::-webkit-scrollbar-track {
        background: #5f5f5f00;
    }

    /* Handle */
    *::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    *::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    *::-webkit-scrollbar-thumb:horizontal {
        background: #929292;
        border-radius: 10px;
    }
</style>
